


<form class="container" class="table" style="margin-top: 10%;">



                      <td>Movie Name<input  ng-model="movieObj.movieName" type=" text" /></td>
                      <td>Year<select ng-model="movieObj.movieYear" >
                      <option></option>
                      <option value="2015">2015</option>
                      <option value="2016">2016</option>
                      <option value="2017">2017</option>
                      </select></td>
                      <td><button ng-click="get()" class="btn btn-primary">Get</button></td>
                      <td><button ng-click="add()" class="btn btn-primary">Add Movie</button></td>
                      <td><button ng-click="updateMovie()" class="btn btn-primary">Update</button></td>

                 <!-- </tbody> -->
<table>
                <tr ng-repeat=" contact in contactlist">
                    <td>{{contact.movieName}}</td>
                      <td>{{contact.movieRuntime}}</td>
                       <td>{{contact.movieYear}}</td>
                        <td>{{contacy.movieGenre}}</td>
                         <td>{{contact.moviePlot}}</td>
                          <td>{{contact.moviePoster}}</td>
                    <td><button ng-click="removeMovie(contact)" class="btn btn-danger">Remove</button></td>
                    <td><button ng-click="editMovie(contact)" class="btn btn-primary">Edit</button></td>
                </tr>
</table>
  </form>
