<!-- <!doctype html>
<html lang="en">

<head>
  <title>Movie Booking</title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head> -->


<div class="container" style="margin-top: 6%;">
  <div class="row">

  <div class="col-sm-5" style="margin-left: 22%;">

    <input type="text" class="form-control" placeholder="Search Movie" ng-model="searching"/>
    <div class="col-sm-2" style="margin-left: 88%;margin-top: -34px">
<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" style="color:black"></span></button>
  </div>
  </div>
  </div>
  <div class="row">
  <div class="col-sm-5">
  <ul class="list-group">
  <li ng-show="searching" ng-repeat="m in moviList | filter:searching" class="list-group-item">{{m.moviTitle}}</li>
  </ul>
  </div>
</div>
</div>


  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>


    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="../resrc/images/img1.jpg" alt="img1" width="460" height="345">
        <div class="carousel-caption">
          <h3>Tamil Movies</h3>
          <p></p>
        </div>
      </div>

      <div class="item">
        <img src="../resrc/images/img2.jpg" alt="img2" width="460" height="345">
      </div>

      <div class="item">
        <img src="../resrc/images/img3.jpg" alt="img3" width="460" height="345">
      </div>

      <div class="item">
        <img src="../resrc/images/img4.jpg" alt="img4" width="460" height="345">
      </div>
    </div>


    <a class="left carousel-control" href="" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<!-- <script>
var app = angular.module("myApp", ["ngRoute"]);
app.config(function($routeProvider) {
    $routeProvider
    .when("/Comedy", {
        template : ""
    })
    .when("/Action", {
        template : ""
    })
    .when("/Thriller", {
        template : ""
    });
});
</script> -->
<!-- <div style="margin-left: 10%;">
<form>
  <div style="padding:20px">
<select>
      <option ng-model="moviRadio" name="optradio" value="All" checked>All</option>
<option ng-model="moviRadio" name="optradio" value="Tamil" checked>Tamil</option>
<option ng-model="moviRadio" name="optradio" value="English" checked>English</option>
<option ng-model="moviRadio" name="optradio" value="Hindi" checked>Hindi</option>
<option ng-model="moviRadio" name="optradio" value="Malayalam" checked>Malayalam</option>
<option ng-model="moviRadio" name="optradio" value="Telugu" checked>Telugu</option>
    </select>
</div>

    <div ng-switch="moviRadio">


   <div ng-switch-when="All"  class="movie-container">


      <p ng-repeat="m in moviList">
        <img src="{{m.moviPoster}}" style="width:100px;height:100px;">

       {{m.moviTitle}}
       {{m.moviYear}}
       {{m.moviLanguage}} </p>
  </div>
  <div ng-switch-when="Tamil">

    <
    <p ng-repeat="m in moviList | filter:'Tamil'">
      <img src="{{m.moviPoster}}" style="width:100px;height:100px;"><br>

     {{m.moviTitle}}<br>
     {{m.moviYear}}<br>
     {{m.moviLanguage}} </p>
  </div>
  <div ng-switch-when="English">
    <p ng-repeat="m in moviList |filter:'English'">
      <img src="{{m.moviPoster}}" style="width:100px;height:100px;">

     {{m.moviTitle}}
     {{m.moviYear}}
     {{m.moviLanguage}} </p>
  </div>
  <div ng-switch-when="Hindi">
    <p ng-repeat="m in moviList |filter:'Hindi'">
      <img src="{{m.moviPoster}}" style="width:100px;height:100px;">

     {{m.moviTitle}}
     {{m.moviYear}}
     {{m.moviLanguage}} </p>
 </div>
 <div ng-switch-when="Telugu">
   <p ng-repeat="m in moviList |filter:'Telugu'">
     <img src="{{m.moviPoster}}" style="width:100px;height:100px;">

    {{m.moviTitle}}
    {{m.moviYear}}
    {{m.moviLanguage}} </p>
</div>
<div ng-switch-when="Malayalam">
  <p ng-repeat="m in moviList |filter:'Malayalam'">
    <img src="{{m.moviPoster}}" style="width:100px;height:100px;">

   {{m.moviTitle}}
   {{m.moviYear}}
   {{m.moviLanguage}} </p>
</div>
</div>
  </form>
</div> -->
<!-- <div class="container" style="margin-top:3%">

<h3>Language</h3>
  <div class="dropdown" ng-show="home">
      <button class="dropdown-toggle" type="button" data-toggle="dropdown">Select Language
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Tamil</a></li>
        <li><a href="#">Malayalam</a></li>
        <li><a href="#">Telugu</a></li>
        <li><a href="#">Hindi</a></li>
        <li><a href="#">English</a></li>
      </ul>
    </div>
<h3>Movies</h3>
    <div class="dropdown" ng-show="home">
        <button class="dropdown-toggle" type="button" data-toggle="dropdown">Select Movie
        <span class="caret"></span></button>
        <ul class="dropdown-menu">

        </ul>
      </div>
</div>
<div> -->
<!-- <div>
 <select ng-model="lang">

 <option ng-repeat="m in moviList">{{m.moviLanguage}}</option>
</select></div>
<h2>Select The Movie</h2>
 <div>
 <select ng-model="talkie">

 <option ng-repeat="m in moviList | filter:lang">{{movi.moviTitle}}</option>
</select></div>
<button onclick="document.getElementById('sk').value=<div ng-repeat="m in moviList | filter:talkie>{{m.moviTitle}} {{m.moviPoster}} {{m.moviLaguage}}"</div>submit</button>
<div id="sk"></div>
</div> -->

<div class="container" style="margin-top: 03%;">

               <select ng-model="movies">
               <option value="all">All
               <option value="Tamil">Tamil
               <option value="English">English
               <option value="Hindi">Hindi
                 <option value="Telugu">Telugu
                   <option value="Malayalam">Malayalam

              </select>
              <div ng-switch="movies">
              <div ng-switch-when="all" >
                <div ng-repeat="m in moviList">
                  <img src="{{m.moviPoster}}" style="width:140px;height:140px;">
                  <td>{{m.moviTitle}}</td>
                  <td>{{m.moviYear}}</td>
                  <td>{{m.moviActors}}</td>
                  <td>{{m.moviLanguage}}</td>
 <button ng-click = "bookingmovi(m)" class="button  btn btn-primary"><a href="#/moviebooking"><span style="color: white;">Book</span></button>
                </div></div>
                <div ng-switch-when="Tamil" >
                  <div ng-repeat="m in moviList|filter:'Tamil'">
                    <img src="{{m.moviPoster}}" style="width:140px;height:140px;">
                    <td>{{m.moviTitle}}</td>
                    <td>{{m.moviYear}}</td>
                    <td>{{m.moviActors}}</td>
                    <td>{{m.moviLanguage}}</td>
              <button ng-click = "bookingmovi(m)" class="button  btn btn-primary"><a href="#/moviebooking"><span style="color: white;">Book</span></button>
                  </div></div>
                  <div ng-switch-when="English" >
                      <div ng-repeat="m in moviList|filter:'English'">
                        <img src="{{m.moviPoster}}" style="width:140px;height:140px;">
                        <td>{{m.moviTitle}}</td>
                        <td>{{m.moviYear}}</td>
                        <td>{{m.moviActors}}</td>
                        <td>{{m.moviLanguage}}</td>
       <button ng-click = "bookingmovi(m)" class="button  btn btn-primary"><a href="#/moviebooking"><span style="color: white;">Book</span></button>
                      </div></div>
                      <div ng-switch-when="Hindi" >
                          <div ng-repeat="m in moviList|filter:'Hindi'">
                            <img src="{{m.moviPoster}}" style="width:140px;height:140px;">
                            <td>{{m.moviTitle}}</td>
                            <td>{{m.moviYear}}</td>
                            <td>{{m.moviActors}}</td>
                            <td>{{m.moviLanguage}}</td>
           <button ng-click = "bookingmovi(m)" class="button  btn btn-primary"><a href="#/moviebooking"><span style="color: white;">Book</span></button>
                          </div></div>
                          <div ng-switch-when="Telugu" >
                              <div ng-repeat="m in moviList|filter:'Telugu'">
                                <img src="{{m.moviPoster}}" style="width:140px;height:140px;">
                                <td>{{m.moviTitle}}</td>
                                <td>{{m.moviYear}}</td>
                                <td>{{m.moviActors}}</td>
                                <td>{{m.moviLanguage}}</td>
               <button ng-click = "bookingmovi(m)" class="button  btn btn-primary"><a href="#/moviebooking"><span style="color: white;">Book</span></button>
                              </div></div>
                            </div>
</div>
