

  <div class="container" style="margin-top: 110px;" class="dropdown">
<img src="../resrc/images/banner1.jpg" alt="banner" style="margin-left: -95px;    width: 117%;">

      <div class="container" style="margin-left: 26%;" class="dropdown">
      <div class="row" class="dropdown">

      <div>
      <div class="col-sm-5" style="margin-top: -106px;margin-left: 36px;">
      <ul class="list-group">
        <input type="text" class="form-control" placeholder="Search Movies by Name,Language,Genere" ng-model="searching"/>

      </ul>
      </div>
      </div>
      </div>


    </div>
  </div>
<div class="container" style="margin-top: 03%;">
<b>Select Language</b>
<select ng-model="movies" class="form-control" style="width: 145px;margin-left: 0px;">

<option value="">Select Language</option>
                    <option ng-repeat="map in maplist |unique:'Language'">{{map.Language}}</option>
                            </select>

<div>
<button type="button" class="btn btn-primary" style="margin-left: 35%;width: 31%;"><h2><b>Now Showing<b></h2></button></div>
<div ng-switch="movies" style="margin-top: 50px;">

  <div ng-repeat="m in maplist| filter:movies |unique:'Film'| filter:searching">

 <div class="col-md-4">
   <div class="thumbnail">
    <img src="{{m.Poster}}" style="width:230px;height:210px;">

    <table class="table">
    <tbody style="display:table-caption;margin-left:57px;padding:10px">
      <tr><td><b>Moviename:</b></td> <td>{{m.Film}}</td></tr>
      <tr><td><b>Year:<b></td><td>{{m.Year}}</td></tr>
<tr><td><b>Language:<b></td><td>{{m.Language}}</td></tr>

<tr><td><b>Rating:<b></td><td>{{m.Rating}}</b<span><img src="img/love.jpg" alt="mera" style="height: 30px;width:30px;"></span></td></tr>
<tr><td><button ng-click="bookingmovi(m)" class="button  btn btn-primary"><span style="color: white;">BOOK</span></button></td>
   <td><button ng-click="ratingreview(m)" class="button  btn btn-primary">REVIEW</button></td></tr>
 </tbody>
 </table>
</div></div></div>

</div>

</div>
<br>
<br>


<div class="container" style="margin-top: %;">
  <div>
  <button type="button" class="btn btn-primary" style="margin-left: 35%;width: 31%;"><h2><b>Movie Trailers<b></h2></button></div>
  <div ng-switch="movies" style="margin-top: 30px;">

  <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-4">
        <div class="thumbnail">

  <img src="img/mov10.jpg" style="width:250px;height:250px;padding:5px;">
  <button type="button" class="btn btn-primary btn-lg" style="margin-left: 100px;" data-toggle="modal" data-target="#IModal">Watch Trailer</button>

  <div  class="modal fade" id="IModal" role="dialog">
    <div class="modal-dialog" style="margin-left: -26%;">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">BAIRAVA TRAILER</h4>
        </div>
        <div class="modal-body">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/bhTN4PDm6fc?ecver=1" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div></div></div>
<div class="col-xs-6 col-sm-3 col-md-4">
  <div class="thumbnail">

<img src="img/1a.jpg" style="width:250px;height:250px;padding:5px;">
<button type="button" class="btn btn-primary btn-lg" style="margin-left: 100px;" data-toggle="modal" data-target="#cModal">Watch Trailer</button>

<div  class="modal fade" id="cModal" role="dialog">
<div class="modal-dialog" style="margin-left: -26%;">

<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Jolly LLB 2 TRAILER</h4>
  </div>
  <div class="modal-body">
<iframe width="560" height="315" src="https://www.youtube.com/embed/q07SQFmL4rM" frameborder="0" allowfullscreen></iframe>      </div>
</div>

</div>
</div>
</div></div>
<div class="col-xs-6 col-sm-3 col-md-4">
<div class="thumbnail">

<img src="img/mov9.jpg" style="width:250px;height:250px;padding:5px;">
<button type="button" class="btn btn-primary btn-lg" style="margin-left: 100px;" data-toggle="modal" data-target="#2Modal">Watch Trailer</button>

<div  class="modal fade" id="2Modal" role="dialog">
<div class="modal-dialog" style="margin-left: -26%;">

<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">PIRATES OF THE CARIBBEAN TRAILER</h4>
</div>
<div class="modal-body">
<iframe width="560" height="315" src="https://www.youtube.com/embed/lsJ58L3u8qw?ecver=1" frameborder="0" allowfullscreen></iframe>

</div>
</div>
</div></div>

</div>

<ul class="pager">
<li><a href="#/trailer" style="margin-left: 250px;">see more..</a></li></ul>
</div></div>
 </div>
