
<div class="container" style="margin-top:10%" ng-init="moviebooking">

  <div class="table-responsive">
    <table class="table">

      <tr>
<td><b>Movie Poster</b></td>
<td><img src="{{moviebooking.moviPoster}}" style="width:200px;height:200px;"></td>
</tr>
    <tr>
       <td><b>Movie Title</b></td>
     <td>{{moviebooking.moviTitle}}</td>
   </tr>
<tr>
  <td><b>Languages</b></td>
  <td>{{moviebooking.moviLanguage}}</td>
</tr>


  <td><b>Select City</b></td>

  <td><select class="form-control" id="selected" ng-click="sel()" ng-model="book.CityName">
        <option ng-repeat="l in locMovie" value={{l}}>{{l}}</option>
  </select></td>

</tr>
<tr>
  <td><b>Select Theater</b></td>
  <td><select class="form-control" ng-model="book.HallName">
        <option ng-repeat="t in loctheat" value={{t}}>{{t}}</option>
  </select></td>
</tr>
<tr>
  <td><b>Select Date</td>
  <td><input type="date" id="datebook" class="form-control"/></td>
 </tr>
 <tr>
   <td><b>Select Showtime</b></td>


<td>
  <div>
    <select class="form-control"  ng-model="book.ShowTime" ng-change="showseat()">

        <option  ng-repeat="map in maplist|filter:movieinfo.moviTitle|filter:book.HallName">{{map.showtime}}</option>

</select>
</div>
</td>
</tr>
<tr>
  <td><b>No.Of Tickets<b></td>
    <td>
      <select class="form-control" placeholder="seats" ng-model="book.nofseats">
        <option></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
</select>
</td>
</tr>
<tr>
  <td><b>Amount</b></td>
  <td>

 </select>
<select class="form-control" ng-model="Amount" ng-change="add()">
  <option value="10">10</option>
  <option value="100">100</option>
  <option value="150">150</option>
</select>
</td>
</tr>

  </table>


</div>

</tbody>
  <div class="table-responsive" style="margin-top: 0%;">
    <div  style="margin-left: 140px;"><h3>SEAT ARRANGEMENT</h3></div>
</div >
<div>
    <table class="seatLayout" style="
margin-left: 10%;
">
        <div class="legend" style="padding: 0px 5px 5px 0px; margin-left: 140px;">
           <div> <img src="../resrc/images/W_chair.gif">Available</div>
          <div style="margin-left: 10%;margin-top: -20px;">  <img src="../resrc/images/R_chair.gif">Booked</div>
          <div style="margin-left: 196px;margin-top: -20px;"> <img src="../resrc/images/G_chair.gif">Selected</div>
      </div>
      <div style="margin-left: 20%;"><h4>Platinum</h4></div>
        <tbody>
          <tr class="tablestyle">
                <td class="padding-bottom"></td>
                <td class="padding-bottom" ng-repeat="col in cols track by $index" ng-bind="col"></td>
            </tr>
            <tr class="tablestyle" ng-repeat="row in rows">
                <td class="padding-right" ng-bind="row"></td>
                <td class="seat" ng-repeat="col in cols" ng-click="seatClicked(row + col)" ng-switch on="getStatus(row + col)" style="padding: 5px 5px 5px 5px;">
                    <img ng-switch-when="selected" src="../resrc/images/G_chair.gif">
                    <img ng-switch-when="reserved" src="../resrc/images/R_chair.gif">
                    <img ng-switch-default src="../resrc/images/W_chair.gif">
                </td>
            </tr>
        </tbody>
      </table>
        <div style="margin-left: 22%;"><h4>Gold</h4></div>
        <table class="seatLayout" style="
  margin-left: 10%;
">
        <tbody>
          <tr class="tablestyle">
                <td class="padding-bottom"></td>
                <td class="padding-bottom" ng-repeat="col in cols track by $index" ng-bind="col"></td>
            </tr>
            <tr class="tablestyle" ng-repeat="row in rows1">
                <td class="padding-right" ng-bind="row"></td>
                <td class="seat" ng-repeat="col in cols1" ng-click="seatClicked(row + col)" ng-switch on="getStatus(row + col)" style="padding: 5px 5px 5px 5px;">
                  <img ng-switch-when="selected" src="../resrc/images/G_chair.gif">
                  <img ng-switch-when="reserved" src="../resrc/images/R_chair.gif">
                  <img ng-switch-default src="../resrc/images/W_chair.gif">
                </td>
            </tr>
        </tbody>
    </table>
    <div style="margin-left: 22%;"><h4>Silver</h4></div>
    <table class="seatLayout" style="
margin-left: 10%;
">
    <tbody>
      <tr class="tablestyle">
            <td class="padding-bottom"></td>
            <td class="padding-bottom" ng-repeat="col in cols track by $index" ng-bind="col"></td>
        </tr>
        <tr class="tablestyle" ng-repeat="row in rows2">
            <td class="padding-right" ng-bind="row"></td>
            <td class="seat" ng-repeat="col in cols2" ng-click="seatClicked(row + col)" ng-switch on="getStatus(row + col)" style="padding: 5px 5px 5px 5px;">
              <img ng-switch-when="selected" src="../resrc/images/G_chair.gif">
              <img ng-switch-when="reserved" src="../resrc/images/R_chair.gif">
              <img ng-switch-default src="../resrc/images/W_chair.gif">
            </td>
        </tr>
    </tbody>
    </table>
    <br>
    <br>

<div style="background-color: black;width: 278px;    margin-left: 110px;">
  <h4 style="color: aliceblue;margin-left: 50px;">All Eyes Faced Here</h4>
</div>
<br>
<br>
<div class="table-responsive" style="float: right;margin-right: 300px;margin-top: -140px;">

  <table class="table">

    <tbody>
      <tr>
        <td><b>Selected seat</b></td>
      <td><p id = "seating"></p></td></tr>

<tr><td><button style="background-color: black;" class="button  btn btn-primary"><span style="color: white;">BACK</span></button></td>
<!-- <td><button ng-click="confirm()" style="background-color: black;" class="button  btn btn-primary">Book</button></td></tr> -->
<td>
<button ng-click="bk()"style="background-color: black;" class="button  btn btn-primary"><span style="color: white;">BOOK</span></button></td></tr>
</tbody>
</table>
</div></div>
