<div class="container" style="margin-top: 10%;">


<div>
<figure class="highlight1"><h1  style="margin-bottom:4px;">Movie Trailers</h1></figure></div>
</div>
<div class="container">
  <div class="row">


        <div class="col-md-3">
        <div class="thumbnail">

<img src="img/mov2.jpg" style="width:250px;height:250px;padding:5px;">
 <button type="button" class="btn btn-primary btn-lg" style="margin-left: 48px;" data-toggle="modal" data-target="#myModal">Watch Trailer</button>

  <div  class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="margin-left: -26%;">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">DANGAL TRAILER</h4>
        </div>
        <div class="modal-body">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/x_7YlGv9u1g" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

    </div>
  </div>
</div></div>

      <div class="col-md-3">
      <div class="thumbnail">

<img src="img/mov1.jpg" style="width:250px;height:250px;padding:5px;">
<button type="button" class="btn btn-primary btn-lg" style="margin-left: 48px;" data-toggle="modal" data-target="#aModal">Watch Trailer</button>

<div  class="modal fade" id="aModal" role="dialog">
  <div class="modal-dialog" style="margin-left: -26%;">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">KAABIL TRAILER</h4>
      </div>
      <div class="modal-body">
<iframe width="560" height="315" src="https://www.youtube.com/embed/0GnPd4WzwpI" frameborder="0" allowfullscreen></iframe>      </div>
    </div>

  </div>
</div>
</div></div>


      <div class="col-md-3">
      <div class="thumbnail">

<img src="img/mov3.jpg" style="width:250px;height:250px;padding:5px;">
<button type="button" class="btn btn-primary btn-lg" style="margin-left: 48px;" data-toggle="modal" data-target="#bModal">Watch Trailer</button>

<div  class="modal fade" id="bModal" role="dialog">
  <div class="modal-dialog" style="margin-left: -26%;">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">RAEES TRAILER</h4>
      </div>
      <div class="modal-body">
<iframe width="560" height="315" src="https://www.youtube.com/embed/8iv3ksZs0hk" frameborder="0" allowfullscreen></iframe>      </div>
    </div>

  </div>
</div>
</div></div>
    <div class="col-md-3">
      <div class="thumbnail">

<img src="img/1a.jpg" style="width:250px;height:250px;padding:5px;">
<button type="button" class="btn btn-primary btn-lg" style="margin-left: 48px;" data-toggle="modal" data-target="#cModal">Watch Trailer</button>

<div  class="modal fade" id="cModal" role="dialog">
  <div class="modal-dialog" style="margin-left: -26%;">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Jolly LLB 2 TRAILER</h4>
      </div>
      <div class="modal-body">
<iframe width="560" height="315" src="https://www.youtube.com/embed/q07SQFmL4rM" frameborder="0" allowfullscreen></iframe>      </div>
    </div>

  </div>
</div>
</div></div>

</div>

<div class="row">
      <div class="col-md-3">
      <div class="thumbnail">

<img src="img/1b.jpg" style="width:250px;height:250px;padding:5px;">
<button type="button" class="btn btn-primary btn-lg" style="margin-left: 48px;" data-toggle="modal" data-target="#dModal">Watch Trailer</button>

<div  class="modal fade" id="dModal" role="dialog">
  <div class="modal-dialog" style="margin-left: -26%;">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">La La Land TRAILER</h4>
      </div>
      <div class="modal-body">
<iframe width="560" height="315" src="https://www.youtube.com/embed/0pdqf4P9MB8" frameborder="0" allowfullscreen></iframe>      </div>
    </div>

  </div>
</div>
</div></div>

      <div class="col-md-3">
      <div class="thumbnail">

<img src="img/mov4.jpg" style="width:250px;height:250px;padding:5px;">
<button type="button" class="btn btn-primary btn-lg" style="margin-left: 48px;" data-toggle="modal" data-target="#eModal">Watch Trailer</button>

<div  class="modal fade" id="eModal" role="dialog">
  <div class="modal-dialog" style="margin-left: -26%;">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">MOANA TRAILER</h4>
      </div>
      <div class="modal-body">
<iframe width="560" height="315" src="https://www.youtube.com/embed/LKFuXETZUsI" frameborder="0" allowfullscreen></iframe>      </div>
    </div>

  </div>
</div>
</div></div>
<div class="col-md-3">
<div class="thumbnail">

<img src="img/mov6.jpg" style="width:250px;height:250px;padding:5px;">
<button type="button" class="btn btn-primary btn-lg" style="margin-left: 48px;" data-toggle="modal" data-target="#eModal">Watch Trailer</button>

<div  class="modal fade" id="eModal" role="dialog">
<div class="modal-dialog" style="margin-left: -26%;">

<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">MOANA TRAILER</h4>
</div>
<div class="modal-body">
<iframe width="560" height="315" src="https://www.youtube.com/embed/9mdJV5-eias?ecver=1" frameborder="0" allowfullscreen></iframe>"      </div>
</div>

</div>
</div>
</div></div>
<div class="col-md-3">
<div class="thumbnail">

<img src="img/mov7.jpg" style="width:250px;height:250px;padding:5px;">
<button type="button" class="btn btn-primary btn-lg" style="margin-left: 48px;" data-toggle="modal" data-target="#eModal">Watch Trailer</button>

<div  class="modal fade" id="eModal" role="dialog">
<div class="modal-dialog" style="margin-left: -26%;">

<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">MOANA TRAILER</h4>
</div>
<div class="modal-body">
<iframe width="560" height="315" src="https://www.youtube.com/embed/GEB4qrrWIgs?ecver=1" frameborder="0" allowfullscreen></iframe></div>

</div>
</div>
</div></div>

</div>


</div>
